*{
    padding: 0;
    margin: 0;
    background: black;
}
.container{
    
}
.banner{
    margin-left: 25%;
    width: 50%;
    height: 200px;
}
.imgcon img{
    padding: 20px;
    margin-left: 25%;
    width: 50%;
    height: 450px;
}
.imgcon1 img{
    padding: 20px;
    margin-left: 35%;
    width: 30%;
    height: 500px;
}
.btn{
    margin: 10px;
    margin-left: 47%;
    padding: 10px;
    height: 50px;
    background: rgba(0, 0, 0, 0.856);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
.btn:hover{
    color: rgb(0, 0, 0);
    background: white;

}